@model IEnumerable<PiDataWebApp.Models.AcademicCalendarViewModel>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>Akademik Takvim Yönetim Ekranı</b></div>
            <div class="panel-body">
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi"> Tarih :</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control parsley-error" data-parsley-id="29" id="infoDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi"> İşlem Adı :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="info">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 col-sm-10 ">
                            <button type="submit" class="btn btn-space btn-success" style="font-size: 17px; width: 80px; height:38px;" id="btnSave">Kaydet</button>
                            <button class="btn btn-space btn-default " style="height: 40px; font-size: 14px;" id="btnCancel">İptal</button>
                        </div>
                    </div>

                    <div class="col-sm-6" style="margin-left: 280px; margin-top: 15px;">
                        <div class="panel panel-default panel-table">

                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="30%">Tarih</th>
                                            <th>İşlemi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.InfoDate.ToString("yyyy-MM-dd")</td>
                                                <td>@item.Info</td>
                                                <td class="text-right">
                                                    <div class="btn-group btn-hspace">
                                                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle " aria-expanded="false">İşlem<span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                        <ul role="menu" class="dropdown-menu pull-right">
                                                            <li><a href="#" onclick="Delete(@item.Id)"><i class="icon mdi mdi-delete"></i><span>Sil</span></a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript">
        var token = sessionStorage.getItem("accessToken");
        var headers = {};
        headers.Authorization = "Bearer " + token;

        $(document).ready(function () {
            if (token == null) {
                window.location.replace("/Admin/UserManagement/Login");
            }
        });

        var Delete = function (id) {
            $.ajax({
                url: "/api/AcademicCalendar/" + id,
                method: "DELETE",
                headers: headers,
                success: function () {
                    window.location.replace("/Admin/UniversityInfo/AcademicCalendar");
                },
                error: function (jqXHR) {
                    alert("Error !");
                }
            });
        };

        $("#btnSave").click(function () {
            $.ajax({
                url: "/api/AcademicCalendar",
                method: "POST",
                headers: headers,
                data: {
                    InfoDate: $("#infoDate").val(),
                    Info: $("#info").val()
                },
                success: function () {
                    window.location.replace("/Admin/HomeAdmin/Index");
                },
                error: function (jqXHR) {
                    alert("Error !");
                }
            });
        });

        $("#btnCancel").click(function () {
              window.location.replace("/Admin/HomeAdmin/Index");
        });

    </script>
