
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="row col-md-4">
        <p>Employee: @ViewBag.Employee</p>

    </div>
    <div class="row col-md-8">

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>EmployeeId</td>
                    <td>Name</td>

                </tr>
            </thead>
            <tbody>
                @if (ViewBag.EmployeeList != null)
                {
                    foreach (var item in ViewBag.EmployeeList)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
