@model PiDataWebApp.Models.UniversityNewsViewModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>Yeni Haber Ekranı</b></div>


            <div class="panel-body">

                @if (Model != null)
                {
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Başlık :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="title" name="Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">İçerik :</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="context" name="Context"></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi" for="sel1">Üniversite :</label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(m => m.Id, (SelectList)ViewBag.University, "- Select University -", new { @class = "form-control" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-2 col-sm-10 ">
                            <input class="btn btn-space btn-success kaydet" style="font-size: 16px; height:40px" id="btnSave" value="Kaydet" />
                            <input class="btn btn-space btn-default kaydet" style="height: 40px; font-size: 14px;" id="btnCancel" onclick="window.location.href ='@Url.Action("ListNews","UniversityNews", new { Area = "Admin"})'" value="İptal" />
                        </div>
                    </div>

                </form>
                }
               else
                {
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Başlık :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="title" name="Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">İçerik :</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="context" name="Context"></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi" for="sel1">Üniversite :</label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(m => m.Id, (SelectList)ViewBag.University, "- Select University -", new { @class = "form-control" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-2 col-sm-10 ">
                            <input class="btn btn-space btn-success kaydet" style="font-size: 16px; height:40px" id="btnSave" value="Kaydet" />
                            <input class="btn btn-space btn-default kaydet" style="height: 40px; font-size: 14px;" id="btnCancel" onclick="window.location.href ='@Url.Action("ListNews","UniversityNews", new { Area = "Admin"})'" value="İptal" />
                        </div>
                    </div>

                </form>
                }

            </div>
        </div>
    </div>
</div>

<script>
   var token = sessionStorage.getItem("accessToken");
    var headers = {};
    headers.Authorization = "Bearer " + token;

    $(document).ready(function() {
      if (token == null) {
            toastr.info( "Please try again after signin up !", { timeOut: 3000 });
            window.location.href = "/UserManagement/Login";
      }
    });         


        $("#btnSave").click(function() {
      $.ajax({
        url: "/api/UniversityNews",
        method: "POST",
        headers: headers,
        data: {
          Title: $("#title").val(),
          Context: $("#context").val(),
          UniversityInfoId: $("#Id").val()
        },

        success: function() {
            alert("News added successfuly!");
            window.location.href = "/Admin/UniversityNews/ListNews";
        },
        error: function(jqXHR) {
          alert("Error !");
        }
      });
    });

    var Update = function(productId) {
      $.ajax({
        url: "/api/Products",
        method: "PUT",
        headers: headers,
        data: {
          Id: productId,
          Name: $("#productName").val(),
          Code: $("#productCode").val(),
          SellingPrice: $("#productSelling").val(),
          PurchasingPrice: $("#productPurchase").val(),
          Quantity: $("#quantity").val(),
          CategoryId: $("#CategoryId").val(),
          SupplierId: $("#SupplierId").val()
        },
        success: function() {
        toastr.success( "Product updated successfully !", { timeOut: 2000 });
          window.location.href = "/Product/ListProduct";
        },
        error: function(jqXHR) {
          alert("Error !");
        }
      });
    };

</script>

