@model IEnumerable<PiDataWebApp.Models.FacultyInfoViewModel>

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/Content/images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>
<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="index.html">Ana Sayfa</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Rektör Mesajı</span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 mb-4">
                <center>
                    <p class="mb-5">
                        <img src="~/Content/images/person_3.jpg" alt="Image" style="width:400px">
                    </p>
                </center>
                @foreach (var item in Model)
                {
                    <p>
                        @item.DeanMessage
                    </p>
                    
                    
                }
                @*
             <p>
            PiData Üniversitesi, siz gençleri hayata hazırlama ve hedeflerinize ulaşmanız için sizlere gerekli katkıyı verme iddiasında olan bir üniversitedir. “Geleceğinize Yön Verin” sloganı bu iddianın ürünüdür. Bir iddia, eğer onu gerçekleştirecek altyapı varsa anlamlıdır. Sahip olduğumuz dinamik ve yetkin eğitim kadrosu yanında göl manzaralı harika kampüsümüz, eğitim ve araştırma amaçlı laboratuvarlarımız, 7/24 faal öğrenci topluluklarımız ve sosyal donatı alanlarımız ile sizi hayata hazırlamaya talibiz.
        </p>

                *@

                <p>
                    <i>
                        Sizlere hayat boyu başarılar dilerim.
                    </i>
                </p>
                <p>Rektör</p>
                <p><b>Prof. Dr. PiData Universitesi </b> </p>
            </div>

        </div>
    </div>
</div>