<div class="hero-slide owl-carousel site-blocks-cover">
    <div class="intro-section" style="background-image: url('/Content/images/department.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1>Bölüm Sayfamıza Hoşgeldiniz</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news-updates">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="section-heading">
                    <h2 class="text-black">Haberler</h2>
                    <a href="#">Read All News</a>
                </div>
                <div class="col-lg-9">
                    <div class="post-entry-big horizontal d-flex mb-4">
                        <a href="news-single.html" class="img-link mr-4"><img src="~/Content/images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">June 6, 2019</a>
                                <span class="mx-1">/</span>
                                <a href="#">Admission</a>, <a href="#">Updates</a>
                            </div>
                            <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                        </div>
                    </div>
                    <div class="post-entry-big horizontal d-flex mb-4">
                        <a href="news-single.html" class="img-link mr-4"><img src="~/Content/images/blog_2.jpg" alt="Image" class="img-fluid"></a>
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">June 6, 2019</a>
                                <span class="mx-1">/</span>
                                <a href="#">Admission</a>, <a href="#">Updates</a>
                            </div>
                            <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                        </div>
                    </div>
                    <div class="post-entry-big horizontal d-flex mb-4">
                        <a href="news-single.html" class="img-link mr-4"><img src="~/Content/images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">June 6, 2019</a>
                                <span class="mx-1">/</span>
                                <a href="#">Admission</a>, <a href="#">Updates</a>
                            </div>
                            <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2 class="text-black">Duyurular</h2>
                    <a href="#">Read All News</a>
                </div>

                <div class="row">
                    <div class="col-lg-12">

                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="news-single.html" class="img-link mr-4"><img src="~/Content/images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">June 6, 2019</a>
                                    <span class="mx-1">/</span>
                                    <a href="#">Admission</a>, <a href="#">Updates</a>
                                </div>
                                <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                            </div>
                        </div>
                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="news-single.html" class="img-link mr-4"><img src="~/Content/images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">June 6, 2019</a>
                                    <span class="mx-1">/</span>
                                    <a href="#">Admission</a>, <a href="#">Updates</a>
                                </div>
                                <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                            </div>
                        </div>
                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="news-single.html" class="img-link mr-4"><img src="~/Content/images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">June 6, 2019</a>
                                    <span class="mx-1">/</span>
                                    <a href="#">Admission</a>, <a href="#">Updates</a>
                                </div>
                                <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="section-bg style-1" style="background-image: url('/Content/images/history.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="section-title-underline style-2">
                    <span>Bölümümüz Hakkında</span>
                </h2>
            </div>
            <div class="col-lg-8">
                <p class="lead">PiData Üniversitesi, “değer üreten üniversite” sloganıyla 2018 yılında Ankara'da kurulan devlet üniversitesidir.</p>
                <p> PiData Üniversitesi 2018 ve sonrası kurulan üniversiteler arasında en fazla gelişme gösteren üniversiteler arasındadır. PiData Üniversitesi kampüsü yanında KYK yurtları bulunmaktadır. The Paragon Tower, üniversitesinin en büyük yerleşkesi olup yaklaşıl 3 tane yerleşkeye sahiptir. PiData Üniversitesinin en önemli artısı 360’ı aşkın şirketi bünyesinde bulunduran Türkiye’nin en büyük Teknopark ve Kuluçka Merkezine sahip olmasıdır. Öğrenciler burada kendini geliştirebileceği gibi öğrenci kulüplerinde etkin rol alarak da sosyalleşebilmektedir.</p>
                <p><a href="#">Read more</a></p>
            </div>
        </div>
    </div>
</div>
<!-- // 05 - Block -->

<div class="section-bg style-1" style="background-image: url('/Content/images/department.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-mortarboard"></span>
                <h3>Eğitimimiz</h3>
                <p>Hayatımızın akışına yön veren birkaç önemli karardan birisi de meslek seçimidir. Mesleki bilgileri kazanım için bir bölümdeki en önemli unsur öğretim kadrosudur.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-school-material"></span>
                <h3>Akademik İlke</h3>
                <p>Dünyadaki eğilime uygun olarak her alanda bireyin kazandırılması gereken yetkinlikler dikkate alınarak eğitim programı tasarlanmıştır.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-library"></span>
                <h3>Başarının Anahtarı</h3>
                <p>Programın akreditasyonu için MÜDEK başvurumuz değerlendirilmiş ve bölümümüz 2021 yılına kadar 5 yıl süre ile akredite olmuştur. Ayrıca mezunlarımızın istihdam oranı %98 olarak belirlenmiştir.</p>
            </div>
        </div>
    </div>
</div>